<html>
  <body>
    <h1 style="font-family:verdana;text-align:center">List of Squirrel Sightings</h1>
    <nav style="font-size:110%;">
      <h3>Navigation Bar</h3>
      <ul>
      <li><a href="/map/">Squirrel Tracker</a></li>
      <li><a href="/sightings/add">Add Sighting</a></li>
      <li><a href="/sightings/stats">Statistics Info</a></li>
      </ul>
    </nav>
    <br />

  <style>
    table {font-family: arial, sans-serif; border-collapse: collapse; width: 100%;}
    td, th {border: 1px solid #dddddd;text-align: left;padding: 8px;}
    tr:nth-child(even) {background-color: #d5f5f1;}
    th {background-color: #3cb0a0;color: white;}
   
  </style>
  
  <h3>Edit Squirrel Info by Click the Link</h3>
  <table>
    <thead>
      <tr>
        {% for field in fields %}  
          <th>{{field}}</th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>
      {% for squirrel in squirrels %}
        <tr>
	  <td><a href="{{squirrel.Unique_Squirrel_ID}}">{{squirrel.Unique_Squirrel_ID}}</a></td>
          <td>{{squirrel.X}}</td>
	  <td>{{squirrel.Y}}</td>
	  <td>{{squirrel.Age}}</td>
	  <td>{{squirrel.Date}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>  

</body>
</html>
