<html>
  <body>
    <h1>List of Squirrel Sightings</h1>
    <nav>
      <h3>Navigation Bar</h3>
      <a href="/map/">Squirrel Tracker</a>
      <br />
      <a href="/sightings/add">Add Sighting</a>
      <br />
      <a href="/sightings/stats">Statistics Info</a>
    </nav>
    <br />

  <style>
    table {font-family: arial, sans-serif; border-collapse: collapse; width: 100%;}
    td, th {border: 1px solid #dddddd;text-align: left;padding: 8px;}
    tr:nth-child(even) {background-color: #f0f0f0;}
    th {background-color: blue;color: white;}
   
  </style>
  
  <h3>Edit Squirrel Info by Click the Link</h3>
  <table>
    <thead>
      <tr>
        {% for field in fields %}  
          <th>{{field}}</th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>
      {% for squirrel in squirrels %}
        <tr>
	  <td><a href="{{squirrel.Unique_Squirrel_ID}}">{{squirrel.Unique_Squirrel_ID}}</a></td>
          <td>{{squirrel.X}}</td>
	  <td>{{squirrel.Y}}</td>
	  <td>{{squirrel.Age}}</td>
	  <td>{{squirrel.Date}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>  

</body>
</html>
