<html>

  <h2> Statistics Description of Squirrels  </h2>
  <style>
    body {
      background-image: url(https://media.nbcnewyork.com/images/652*367/adorable-animal-autumn-109558.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 150% 160%;
}
  </style>
  <body>      
    <p>The total number of squirrels: {{counts}}.</p>
    <p>The total number of juvenile squirrels: {{jun_counts}}.</p>
    <p>The total number of adult squirrels: {{adt_counts}}.</p>
    <p>The total number of black squirrels: {{black_counts}}.</p>
    <p>The total number of gray squirrels: {{gray_counts}}.</p>
    <p>The total number of cinnamon squirrels: {{cin_counts}}.</p>	
    <p>The total number of eating squirrels: {{eat_counts}}.</p>
    <p>The total number of running squirrels: {{run_counts}}.</p>

    <nav>
      <h3> Navigation Bar </h3>
      <a href="/map/">Squirrel Tracker</a>
      <a href="/sightings/">Sightings</a>
      <a href="/sightings/add">Add Sighting</a>
      <a href="/sightings/stats">Statistics</a>
</nav>      
</html>
