<html>
<head>
<h2> Statistics Description of Squirrels  </h2>

</head>
<body>
        
        <p>
	The total number of squirrels: {{counts}}.
	</p>
	<p>
        The total number of juvenile squirrels: {{jun_counts}}.
        </p>
	<p>
        The total number of adult squirrels: {{adt_counts}}.
        </p>
	<p>
        The total number of black squirrels: {{black_counts}}.
        </p>
	<p>
        The total number of gray squirrels: {{gray_counts}}.
        </p>
	<p>
        The total number of cinnamon squirrels: {{cin_counts}}.
        </p>	
	<p>
        The total number of eating squirrels: {{eat_counts}}.
        </p>
	<p>
        The total number of running squirrels: {{run_counts}}.
        </p>
</body>
</html>
